{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">

    <!-- Page Title - Shop -->
    <div class="row mt-4 mb-4">
        <div class="col-12 text-left">
            <h2>Basket</h2>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col">
        {% if bag_items %}
        <div class="table-responsive rounded"></div>
        {% else %}
        <p> Your basket is empty</p>
        <div class="mt-4">
            <a href="{% url 'shop' %}">
            <button class="btn btn-green fw-bold">Go Shopping</button>
            </a>
        </div>
        {% endif %}
    </div>
</div>
</div>


<!-- <p> Spend £{{ free_delivery_threshold }} to get free delivery </p> -->

<div class="container">
    <div class="row">
        <!-- Product Image and Description -->
        <div class="col-12 col-md-6 col-lg-4 my-4">
            <row>
                <a href="{{ product.image.url }}" target="_blank">
                    <img src="{{  product.image.url }}" class="shop-img" alt="{{ product.alt_text }}">
                </a>
            </row>
            <row class="mt-4">
                <p class="mt-4">{{ product.description }}</p>
                <p class="mt-4">The image shown is the size of one of our medium bouquets.
                    If you have any specific requirements, please add to note when checking out and we will do our best
                    to fulfill your request.
                </p>
            </row>
            <!-- Collapsible delivery info button -->
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#deliveryInfo"
                aria-expanded="false" aria-controls="deliveryInfo">
                Delivery Information <i class="fa-solid fa-chevron-down"></i>
            </button>


            <!-- Collapsible delivery info content -->
            <div class="collapse mt-3" id="deliveryInfo">
                <div class="card card-body">
                    <p class="fw-bold">Delivery Information</p>
                    <p>
                        We deliver bouquets, plants, and gifts to postcodes beginning with BS1 to BS6. Remember to place
                        your orders before 9:30 PM for next-day delivery (delivery is not available on Sundays). For
                        same-day deliveries, please call us at 0117 123 4567 or contact us online with any inquiries. We
                        prioritize eco-friendly delivery methods, using bicycles whenever possible and our green,
                        zero-emission van as a backup.
                    </p>
                    <p class="fw-bold">Collection Information</p>
                    <p>You can collect your order instore for free (The Meadow Project, Bristol, BS4 3QP) on your
                        specified collection date. Note we are open (Tuesday to Friday 10:00-17:00 and Saturday:
                        9:00-17:00). Your order will be ready from 10:00 unless otherwsie prearranged. If you miss your
                        collection, and haven’t given us notice, we will be unable to make another bouquet for you.</p>
                </div>
            </div>

        </div>
       
    </div>
</div>







{% endblock %}