{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container">
    <!-- Page Title - Shop -->
    <div class="row mt-4 mb-4">
        <div class="col-12 text-left">
            <h2>Basket</h2>
        </div>
    </div>
</div>

<!-- Products/Events in Basket + Totals -->
<div class="container">
    {% if bag_items %}
    <!-- Products Table -->
    {% if product_count > 0 %}
    <div class="row">
        <div class="col">
            <h3 class="title-font">Products</h3>
        </div>
    </div>
    <!-- Product Items -->
    <div class="row">
        {% for item in bag_items %}
        {% if item.product %}
        <!-- Delete item button -->
        <div class="col-md-1 col-2 mt-4 d-flex align-items-start justify-content-end">
            <form method="POST" action="{% url 'remove_item' item.product.id %}">
                {% csrf_token %}
                <input type="hidden" name="unique_key" value="{{ item.unique_key }}">
                <button type="submit" class="btn btn-danger py-0 delete-item-btn ms-auto">
                    <i class="fas fa-trash fa-2xs"></i>
                </button>
            </form>
        </div>
        <div class="col-md-3 col-3 mt-4">
            {% if item.product.image %}
            <img src="{{ item.product.image.url }}" alt="{{ item.product.alt_text }}" class="img-fluid">
            {% else %}
            <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
            {% endif %}
        </div>
        <div class="col-md-8 col-7 mt-4">
            <div class="mt-2 d-flex align-items-center">
                <p class="my-0"><span class="fw-bold">Name:</span> {{ item.product.friendly_name }}</p>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <p class="my-0"><span class="fw-bold">Size: </span>{{ item.variant.size }}</p>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <p class="my-0"><span class="fw-bold">Price:</span> £{{ item.variant.price }}</p>
            </div>
            <div class=" mt-2 d-flex align-items-center">
                <p class="my-0 me-2"><span class="fw-bold">Qty:</span></p>
                <!-- Quantity w edit -->
                <form class="d-flex align-items-center" method="POST"
                    action="{% url 'update_quantity' item.product.id %}">
                    {% csrf_token %}
                    <div class="me-2">
                        <input class="form-control" type="number" name="new_quantity" value="{{ item.quantity }}"
                            min="1" max="99">
                        <input type="hidden" name="unique_key" value="{{ item.unique_key }}">
                        <input type="hidden" name="variant_id" value="{{ item.variant.id }}">
                    </div>
                    <button type="submit" class="btn qty-update-btn text-green">Update</button>
                </form>
            </div>
            <!-- Card Message w edit -->
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card-message-display">
                        <p class="my-0 text-justify"><span class="fw-bold">Card Message:</span> {{ item.card_message }}
                            <span><button type="button" class="btn btn-lgreen py-0 edit-cm-btn ms-2"><i
                                        class="fas fa-pen fa-2xs"></i></button></span>
                        </p>

                    </div>
                    <div class="edit-card-message" style="display: none">
                        <form method="POST" action="{% url 'update_card_message' item.product.id %}">
                            {% csrf_token %}
                            <textarea name="new_card_message" class="form-control text-justify"
                                rows="4">{{ item.card_message }}</textarea>
                            <input type="hidden" name="unique_key" value="{{ item.unique_key }}">
                            <input type="hidden" name="variant_id" value="{{ item.variant.id }}">
                            <input type="hidden" name="note_to_seller" value="{{ item.note_to_seller }}">
                            <button type="submit" class="btn btn-green mt-2">Update</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Note to seller w edit -->
            <div class="row mt-2">
                <div class="col-12">
                    <div class="seller-note-display">
                        <p class="my-0 text-justify"><span class="fw-bold">Note:</span> {{ item.note_to_seller }} <span>
                                <button type="button" class="btn btn-lgreen py-0 edit-ns-btn ms-2"><i
                                        class="fas fa-pen fa-2xs"></i></button></span></p>

                    </div>
                    <div class="edit-note-seller" style="display: none">
                        <form method="POST" action="{% url 'update_note_to_seller' item.product.id %}">
                            {% csrf_token %}
                            <textarea name="new_note_to_seller" class="form-control"
                                rows="4">{{ item.note_to_seller }}</textarea>
                            <input type="hidden" name="unique_key" value="{{ item.unique_key }}">
                            <input type="hidden" name="variant_id" value="{{ item.variant.id }}">
                            <input type="hidden" name="card_message" value="{{ item.card_message }}">
                            <button type="submit" class="btn btn-green mt-2">Update</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <p class="my-0"><span class="fw-bold">Sub Total:</span>£{{ item.subtotal }}</p>
            </div>            
        </div>
        <hr class="my-4 border-top border-2 border-dark">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    <!-- Events Table -->
    {% if event_count > 0 %}
    <div class="row">
        <div class="col">
            <h3 class="title-font">Events</h3>
        </div>
    </div>
    <!-- Event Items -->
    <div class="row">
        {% for item in bag_items %}
        {% if item.event %}
        <!-- Delete item button -->
        <div class="col-md-1 col-2 mt-4 d-flex align-items-start justify-content-end">
            <form method="POST" action="{% url 'remove_item' item.event.id %}">
                {% csrf_token %}
                <input type="hidden" name="unique_key" value="{{ item.unique_key }}">
                <button type="submit" class="btn btn-danger py-0 delete-item-btn ms-auto">
                    <i class="fas fa-trash fa-2xs"></i>
                </button>
            </form>
        </div>
        <div class="col-md-3 col-3 mt-4">
            {% if item.event.image %}
            <img src="{{ item.event.image.url }}" alt="{{ item.event.alt_text }}" class="img-fluid">
            {% else %}
            <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
            {% endif %}
        </div>
        <div class="col-md-8 col-7 mt-4">
            <div class="d-flex align-items-center">
                <p class="my-0"><span class="fw-bold">Name:</span> {{ item.event.friendly_name }}</p>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <p class="my-0"><span class="fw-bold">Attendee Info:</span> {{ item.attendee_name }}</p>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <p class="my-0"><span class="fw-bold">Price:</span> £{{ item.event.price }}</p>
            </div>
            <div class=" mt-2 d-flex align-items-center">
                <p class="my-0 me-2"><span class="fw-bold">Qty:</span></p>
                <!-- Quantity w edit -->
                <form class="d-flex align-items-center" method="POST" action="">
                    {% csrf_token %}
                    <div class="me-2">
                        <input class="form-control" type="number" name="new_quantity" value="{{ item.quantity }}"
                            min="1" max="99">
                        <input type="hidden" name="unique_key" value="{{ item.unique_key }}">
                        <input type="hidden" name="variant_id" value="{{ item.variant.id }}">
                    </div>
                    <button type="submit" class="btn qty-update-btn text-green">Update</button>
                </form>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="host-note-display">
                        <p class="my-0 text-justify"><span class="fw-bold">Note:</span> {{ item.note_to_host }} <span>
                                <button type="button" class="btn btn-lgreen py-0 edit-nh-btn ms-2"><i
                                        class="fas fa-pen fa-2xs"></i></button></span></p>
                    </div>
                    <div class="edit-note-host" style="display: none">
                        <form method="POST" action="{% url 'update_note_to_host' item.event.id %}">
                            {% csrf_token %}
                            <textarea name="new_note_host" class="form-control">{{ item.note_to_host}}</textarea>
                            <input type="hidden" name="unique_key" value="{{ item.unique_key }}">
                            <input type="hidden" name="attendee_name" value="{{ item.attendee_name }}">
                            <button type="submit" class="btn btn-primary mt-2">Update</button>
                        </form>
                    </div>
                </div>
                <div class="row mt-2">
                    <p class="my-0"><span class="fw-bold">Sub Total:</span>£{{ item.subtotal }}</p>
                </div>                
            </div>
        </div>
        <hr class="my-4 border-top border-2 border-dark">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Bag Cost Information -->
    <div class="row">
        <div class="col">
            <h3 class="title-font">Summary</h3>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>            
            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
            {% if free_delivery_delta > 0 %}
            <p class="mb-1 text-danger">
                You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more, or by chosing collect from shop at the checkout (next page).
            </p>
            {% endif %}
        </div>
    </div>
    <!-- Bag Filled Buttons -->
    <div class="row mt-2 mb-4">
        <div class="col-sm-4 col-md-3 col-lg-2">
            <a href="{% url 'shop' %}">
                <button class="btn btn-green col-12 fw-bold"> Checkout</button>
            </a>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <a href="{% url 'shop' %}">
                <button class="btn btn-pink col-12 fw-bold"> Shop </button>
            </a>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <!-- Collapsible delivery info button -->
            <button class="btn btn-light col-12" type="button" data-bs-toggle="collapse" data-bs-target="#deliveryInfo"
                aria-expanded="false" aria-controls="deliveryInfo">
                Delivery Info <i class="fa-solid fa-chevron-down"></i>
            </button>
            <!-- Collapsible delivery info content -->
            <div class="collapse mt-3" id="deliveryInfo">
                <div class="card card-body">
                    <p class="fw-bold">Delivery Information</p>
                    <p>
                        We deliver bouquets, plants and gift cards to postcodes beginning with BS1 to BS6. 
                        Remember to place
                        your orders before 9:30 PM for next-day delivery (delivery is not available on
                        Sundays). For
                        same-day deliveries, please call us at 0117 123 4567 or contact us online with any
                        inquiries. We
                        prioritize eco-friendly delivery methods, using bicycles whenever possible and our
                        green,
                        zero-emission van as a backup.
                    </p>
                    <p>Event tickets are emailed.</p>
                    <p class="fw-bold">Collection Information</p>
                    <p>You can collect your order instore for free (The Meadow Project, Bristol, BS4 3QP) on
                        your
                        specified collection date. Note we are open (Tuesday to Friday 10:00-17:00 and
                        Saturday:
                        9:00-17:00). Your order will be ready from 10:00 unless otherwsie prearranged. If
                        you miss your
                        collection, and haven’t given us notice, we will be unable to make another bouquet
                        for you.
                    </p>
                </div>
            </div>
        </div>
    </div>


    {% else %}
    <p>Your basket is empty.</p>
    <div class="mt-4 mb-4">
        <a href="{% url 'shop' %}">
            <button class="btn btn-green fw-bold">Go Shopping</button>
        </a>
    </div>
    {% endif %}
</div>




{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'bag/includes/quantity_input_script.html' %}
{% include 'bag/includes/edit_items_script.html' %}

{% endblock %}