{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Hero image and title -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-12 mt-4 mb-4 text-center">
            <img src="/media/full-logo.png" class="img-fluid img-hero" alt="Image 1">
        </div>
    </div>
</div>

<!-- Statement banner -->
<div class="bg-lpink">
    <div class="container">
        <div class="row heading-banner justify-content-center align-items-center">
            <div class="col-9 text-center">
                <h4 class="mt-3 mb-3">
                    Enjoy the beauty of our locally grown, meadow-fresh flowers. Sustainably nurtured, bringing nature's
                    best to you.
                </h4>
            </div>
        </div>
    </div>
</div>

<!-- Grid (image) links -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mb-4 order-md-1">
            <a href="">
                <div class="thumbnail">
                    <div class="image-container">
                        <img src="/media/peter-bucks-70zWkGkeMrk-unsplash.jpg" class="grid-img" alt="Image 1">
                        <button type="button" class="btn grid-img-overlay fw-bold">Flowers</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4 order-md-3 order-lg-2">
            <a href="">
                <div class="thumbnail">
                    <div class="image-container">
                        <img src="/media/jorge-zapata-6FgbPqag3h8-unsplash.jpg" class="grid-img" alt="Image 1">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4 order-md-4 order-lg-3">
            <a href="">
                <div class="thumbnail">
                    <div class="image-container">
                        <img src="/media/feey-ZQbpzgoWYrA-unsplash.jpg" class="grid-img" alt="Image 1">
                        <button type="button" class="btn grid-img-overlay fw-bold">Plants</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4 order-md-2 order-lg-4">
            <a href="">
                <div class="thumbnail">
                    <div class="image-container">
                        <img src="/media/vadim-kaipov-8ZELrodSvTc-unsplash.jpg" class="grid-img" alt="Image 1">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4 order-md-5">
            <a href="">
                <div class="thumbnail">
                    <div class="image-container">
                        <img src="/media/pexels-gabby-k-5063459.jpg" class="grid-img" alt="Image 1">
                        <button type="button" class="btn grid-img-overlay fw-bold">Events</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4 order-md-last">
            <a href="">
                <div class="thumbnail">
                    <div class="image-container">
                        <img src="/media/zoe-schaeffer-21XW-kI2GG8-unsplash.jpg" class="grid-img" alt="Image 1">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Breif About -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Who Are We?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12 col-md-6 mb-2 mt-3">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <i class="fa-brands fa-pagelines fa-3x mb-2"></i>
                    <p class="text-center">The Meadow Project aims to rejuvenate our environment and bring the outdoors
                        closer to you. We strive to enrich homes with locally grown, seasonal flowers and oxygenating
                        houseplants, fostering the soothing ambiance of nature indoors.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-2 offset-lg-4 mt-3">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <i class="fa-solid fa-leaf fa-3x mb-2"></i>
                    <p class="text-center">Our company ethos nurtures a harmonious bond with the local community.
                        Through events and newsletters, we aim to educate and inspire, sharing insights on our work and
                        guiding you in creating your own meadow-inspired haven at home.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-4 text-center">
            <button class="btn btn-green fw-bold">Learn More</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mb-3 mt-3">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <i class="fa-solid fa-bicycle fa-3x mb-2"></i>
                    <p class="text-center">We prioritize eco-friendly deliveries, utilising bikes whenever possible and
                        our zero-emissions van, Bertha, when needed. Our commitment ensures that our blooms arrive in
                        pristine condition, whether they're transported to your doorstep or collected from our shop.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-2 offset-lg-4 mt-3">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <i class="fa-solid fa-location-dot fa-3x mb-2"></i>
                    <p class="text-center">Our commitment to sustainability is second to none. The Meadow Project
                        has transformed disused farmland into a vibrant greenbelt that enrich wildlifes and provides
                        flowers to our local community. Visitors are welcome
                        to enjoy our fields, participate in our events.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Page break image -->
<div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-12 mb-2 ">
            <img src="/media/jake-anthony-iGCkSfoZHdo-unsplash.jpg" class="img-fluid img-page-break" alt="Image 1">
        </div>
    </div>
</div>

<!-- Shop Advert -->
<div class="container">   
    <div class="row justify-content-center mt-2">
        <div class="col-lg-4 offset-lg-1 col-md-6 col-12 mt-4 d-flex align-items-center">
            <a href="{% url 'shop' %}">
            <img src="/media/will-TWJmj182gu4-unsplash.jpg" class="img-fluid img-side" alt="Image 1">
        </a>
        </div>
        <div
            class=" col-lg-4 offset-lg-2 col-md-6 col-12 mt-4 d-flex flex-column justify-content-center align-items-center">
            <p class="text-center mt-4"> Discover a world of seasonal beauty at our shop, where meadow-grown flowers are
                meticulously crafted
                into stunning bouquets for every occasion. Alternatively, explore our curated collection of plants,
                designed to bring tranquility and greenery into any space.</p>
            <div class="mt-4">
                <a href="">
                <button class="btn btn-green fw-bold">Shop</button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Events advert-->
<div class="container">
    <div class="row justify-content-center">
        <a href="">
        <div class="col-12 mt-4">
            <div class="image-container">
                <img src="/media/pexels-pavel-danilyuk-6925378.jpg" class="img-fluid img-events" alt="Image 1">
                <div class="events-overlay d-flex justify-content-center align-items-center">
                    <div class="col-9 text-center">
                        <p class="">Step into nature at our meadow events. Experience serene surroundings and learn to
                            create your own bouquets with freshly picked flowers from the meadow.</p>
                        <div class="mt-4">
                            <btn type="button" class="btn btn-green fw-bold">Events</btn>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
</div>

<!-- Review Carousel adapted from Bootstrap-->
<div class="container mt-5">
    <div id="carouselReveiw" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block w-100 p-5 text-center">
                    <p class="review-text">"This is a fantastic service!"</p>
                    <p class="review-author">- John Doe</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 p-5 text-center">
                    <p class="review-text">"The flowers are always fresh and beautiful."</p>
                    <p class="review-author">- John Doe</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 p-5 text-center">
                    <p class="review-text">"What a fantastic site"</p>
                    <p class="review-author">- John Doe</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselReveiw" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselReveiw" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


{% endblock %}