{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Profile
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container">
    <!-- Page Title - Profile Page -->
    
    <div class="row mt-4 mb-4">
        <div class="col-12 text-center">
            <h2>My Profile</h2>
        </div>
    </div>
    <!-- Introduction -->
    <div class="row text-center align-items-center justify-content-center mt-4 mb-4">
        <div class="col-12 col-md-9 col-lg-6">
            <p>
                Welcome to The Meadow Project's shop! Discover our exquisite collection of flowers and plants, available
                
            </p>
        </div>
    </div>
    <!-- User Profile Info -->
    <div class="row">
        <h3 class="title-font">Your Details</h3>
        <p><strong>Username:</strong> {{ username }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
    </div>

     <div class="row mb-4">
        <div class="col-lg-6 col-12">            
            <div class="row">
                <legend class="fieldset-label small w-auto"><strong>Default Address Information</strong></legend>
                <form class= "mt-4" action="{% url 'profile'}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <div class="col text-center"><button class="btn btn-green" >Update Information</button></div>
                        
                    </div>                    
                </form>
                
            </div>
            


        </div>
        <div class="col-lg-6 col-12">
            <legend class="fieldset-label small w-auto"><strong>Order History</strong></legend>
             {{ orders }}
            
        </div>


     </div>
    {{ profile }}
</div>       










{% endblock %}



