{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Profile
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container">
    <!-- Page Title - Profile Page -->
    
    <div class="row mt-4 mb-4">
        <div class="col-12 text-center">
            <h2>Profile</h2>
        </div>
    </div>
    <!-- Introduction -->
    <div class="row text-center align-items-center justify-content-center mt-4 mb-4">
        <div class="col-12 col-md-9 col-lg-6">
            <p>
                Welcome to The Meadow Project's shop! Discover our exquisite collection of flowers and plants, available
                
            </p>
        </div>
    </div>
</div>       










{% endblock %}



