{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container">
    <!-- Page Title - Shop -->
    <div class="row mt-4 mb-4">
        <div class="col text-left">
            <h2>Checkout</h2>
        </div>
        <div class="col text-right">
            <p>continue shopping button</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Please fill out the form to complete your order.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-12">
            <form action="" method="POST" id="payment-form-prodcut">
                {% csrf_token %}
                <input type="hidden" name="order_type" value="{{ order_type }}">

                <div class="fieldset-container mb-4" id="step-1">
                    <fieldset class="rounded px-3 mb-4">
                        <legend class="fieldset-label small px-2 w-auto">Customer Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <button type="button" class="btn btn-green" onclick="showNextStep(2)">Next</button>
                </div>

                <div class="fieldset-container mb-4" id="step-2" style="display: none;">
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Customer Address</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                    </fieldset>
                    <button type="button" class="btn btn-pink" onclick="showPreviousStep(1)">Previous</button>
                    <button type="button" class="btn btn-green" onclick="showNextStep(3)">Next</button>
                </div>


                <div class="fieldset-container mb-4" id="step-3" style="display: none;">
                    {% if order_type == 'product' %}
                    <div id="delivery_method_wrapper">
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label small text-black px-2 w-auto">Delivery Information</legend>
                            {{form.delivery_date | as_crispy_field }}
                            {{form.delivery_method }}
                        </fieldset>
                    </div>
                    <div class="delivery-details" style="display: none;">
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label small text-black px-2 w-auto">Delivery Information</legend>
                            {{ form.delivery_name | as_crispy_field }}
                            {{ form.delivery_street_address1 | as_crispy_field }}
                            {{ form.delivery_street_address2 | as_crispy_field }}
                            {{ form.delivery_town_or_city | as_crispy_field }}
                            {{ form.delivery_street_address2 | as_crispy_field }}
                            {{ form.delivery_county | as_crispy_field }}
                            {{ form.delivery_postcode | as_crispy_field }}
                        </fieldset>
                    </div>
                    {% elif order_type == 'event' %}
                    <div id="event-form">
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label small text-black px-2 w-auto">Delivery Information
                            </legend>
                            <p>Your Order will be Emailed to you following payment.</p>
                        </fieldset>
                    </div>
                    {% endif %}
                    <button type="button" class="btn btn-pink" onclick="showPreviousStep(2)">Previous</button>
                    <button type="button" class="btn btn-green" onclick="showNextStep(4)">Next</button>
                </div>


                <button type="submit" class="btn btn-green">Submit</button>





            </form>
        </div>

        <div class="col-lg-6 col-12">Order Summary</div>
    </div>
</div>





{% endblock %}

{% block postloadjs %}

{{ block.super }}

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Render correct form based on if Product (and event) or just event
        // function showForm(orderType) {
        //     document.getElementById('product-form').style.display = (orderType === 'product') ? 'block' :
        //         'none';
        //     document.getElementById('event-form').style.display = (orderType === 'event') ? 'block' : 'none';
        // }

        // If user selects store pick up then delivery detail fileds are blocked. 
        const deliveryMethodInput = document.querySelectorAll('input[name="delivery_method"]');
        deliveryMethodInput.forEach(input => {
            input.addEventListener('change', toggleDeliveryDetails);
        });


        toggleDeliveryDetails();

    });

    //Functions to show/hide the different form parts. step = current step user is on. 
    //Hide's previous step and displays current step
    function showNextStep(step) {
        document.getElementById(`step-${step - 1}`).style.display = 'none';
        document.getElementById(`step-${step}`).style.display = 'block';
    }

    // hide's the next step from view
    function showPreviousStep(step) {
        document.getElementById(`step-${step + 1}`).style.display = 'none';
        document.getElementById(`step-${step}`).style.display = 'block';
    }

    const deliveryMethodSelect = document.querySelector('#delivery_method_wrapper select');
    deliveryMethodSelect.addEventListener('change', function() {
        toggleDeliveryDetails(); // Call your toggle function when the delivery method changes
    });

    function toggleDeliveryDetails() {
        const deliveryDetails = document.querySelector('.delivery-details');
        const deliveryMethod = document.querySelector('input[name="delivery_method"]:checked');
        if (deliveryMethod && deliveryMethod.value === 'delivery') {
            deliveryDetails.style.display = 'block';
        } else {
            deliveryDetails.style.display = 'none';
        }
    }

</script>

{% endblock %}