{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container">
    <!-- Page Title - Checkout Page -->
    <div class="row mt-4 mb-4">
        <div class="col-lg-6 col-12">
            <div class="row text-left">
                <h2>Checkout</h2>
            </div>
            <div class="row">
                <p>Please fill out the form to complete your order.</p>
            </div>
            <div class="row">
                <!-- Checkout Form  -->
                <div class="col-lg-9 col-12">
                    <form action="" method="POST" id="payment-form-prodcut">
                        {% csrf_token %}
                        <input type="hidden" name="order_type" value="{{ order_type }}">
                        <!-- Section 1 - Customer Details -->
                        <div class="fieldset-container mb-4" id="step-1">
                            <fieldset class="rounded px-3 mb-4">
                                <legend class="fieldset-label small px-2 w-auto">Customer Details</legend>
                                {{ order_form.full_name | as_crispy_field }}
                                {{ order_form.email | as_crispy_field }}
                            </fieldset>
                            <button type="button" class="btn btn-green ms-3" onclick="validateAndShowNextStep(1)">Next
                                <span><i class="fas fa-chevron-right"></i>
                                </span></button>
                        </div>
                        <!-- Section 2 Customer Address -->
                        <div class="fieldset-container mb-4" id="step-2" style="display: none;">
                            <fieldset class="rounded px-3 mb-2">
                                <legend class="fieldset-label small text-black px-2 w-auto">Customer Address</legend>
                                {{ order_form.phone_number | as_crispy_field }}
                                {{ order_form.street_address1 | as_crispy_field }}
                                {{ order_form.street_address2 | as_crispy_field }}
                                {{ order_form.town_or_city | as_crispy_field }}
                                {{ order_form.county | as_crispy_field }}
                                {{ order_form.postcode | as_crispy_field }}
                            </fieldset>
                            <div class="form-check float-right ms-3 mb-3">
                                {% if user.is_authenticated %}
                                <label class="form-check-label" for="id-save-info">Save this delivery information to my
                                    profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info"
                                    name="save-info" checked>
                                {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="">Create an account</a> or
                                    <a class="text-info" href="">login</a> to save this information
                                </label>
                                {% endif %}
                            </div>
                            <button type="button" class="btn btn-pink ms-3" onclick="showPreviousStep(1)"><i
                                    class="fas fa-chevron-left"></i>
                                </span> Previous</button>
                            <button type="button" class="btn btn-green ms-3" onclick="validateAndShowNextStep(2)">Next
                                <span><i class="fas fa-chevron-right"></i>
                                </span></button>
                        </div>

                        <!-- Section 3- if product = deliery info, if event = info about event "delivery" -->
                        <div class="fieldset-container mb-4" id="step-3" style="display: none;">
                            {% if order_type == 'product' %}
                            <div id="delivery_method_wrapper">
                                <fieldset class="rounded px-3 mb-3">
                                    <legend class="fieldset-label small text-black px-2 w-auto">Delivery Information
                                    </legend>
                                    {{form.delivery_date | as_crispy_field }}
                                    {{form.delivery_method }}
                                </fieldset>
                            </div>
                            <div class="shop-details" style="display: none;">
                                <p class="ms-3"> Our address is 123 Meadow, Along A Lane, Bristol, BS41 8RM. Open
                                    9am-4.30pm</p>
                            </div>
                            <div class="delivery-details" style="display: none;">
                                <fieldset class="rounded px-3 mb-5">
                                    <legend class="fieldset-label small text-black px-2 w-auto">Delivery Information
                                    </legend>
                                    {{ form.delivery_name | as_crispy_field }}
                                    {{ form.delivery_street_address1 | as_crispy_field }}
                                    {{ form.delivery_street_address2 | as_crispy_field }}
                                    {{ form.delivery_town_or_city | as_crispy_field }}
                                    {{ form.delivery_street_address2 | as_crispy_field }}
                                    {{ form.delivery_county | as_crispy_field }}
                                    {{ form.delivery_postcode | as_crispy_field }}
                                </fieldset>
                            </div>

                            {% elif order_type == 'event' %}
                            <div id="event-form">
                                <fieldset class="rounded px-3 mb-5">
                                    <legend class="fieldset-label small text-black px-2 w-auto">Delivery Information
                                    </legend>
                                    <p>Your Order will be Emailed to you following payment.</p>
                                </fieldset>
                            </div>
                            {% endif %}
                            <button type="button" class="btn btn-pink ms-3" onclick="showPreviousStep(2)"> <span
                                    class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span> Previous</button>
                            <button type="button" class="btn btn-green ms-3" onclick="validateAndShowNextStep(3)"> Next
                                <span><i class="fas fa-chevron-right"></i>
                                </span></button>
                        </div>

                        <!-- Section 4 - Payment -->
                        <div class="fieldset-container mb-4" id="step-4" style="display: none;">
                            <fieldset class="rounded px-3 mb-3">
                                <legend class="fieldset-label small text-black px-2 w-auto">Payment Details</legend>
                                <!-- A Stripe card element will go here -->
                                <div class="mb-3" id="card-element"></div>
                                <!-- Used to display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                <!-- Pass the client secret to the view so we can get the payment intent id -->
                                <input type="hidden" value="" name="client_secret">
                            </fieldset>
                            <div class="submit-button text-right mt-5 mb-2">
                                <a href="{% url 'view_bag' %}" class="btn btn-lgreen">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="font-weight-bold">Adjust Bag</span>
                                </a>
                                <button id="submit-button" class="btn btn btn-green">
                                    <span class="font-weight-bold">Complete Order</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </button>
                                <p class="small text-danger my-0">
                                    <span class="icon">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                    <span>Your card will be charged
                                        <strong>${{ grand_total|floatformat:2 }}</strong></span>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>


                <!-- Final form submission button -->
                <!-- <button type="button" class="btn btn-pink" onclick="showPreviousStep(3)">Previous</button>
            <button type="submit" class="btn btn-green">Submit</button> -->

            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="row">
                <h3 class="title-font">Order Summary ({{ total_items }})</h3>
            </div>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
            {% for item in bag_items %}
            {% if item.product %}
            <div class="row">
                <div class="col-2 mb-1">
                    <a href="{% url 'product_detail' item.product.id %}">
                        {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.alt_text }}" class="img-fluid">
                        {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-7">
                    <p class="my-0"><strong>{{ item.product.friendly_name }}</strong></p>
                    <p class="my-0 small text-muted">Size: {{ item.variant.size }} </p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                    <p class="my-0 small text-muted">Card Message: 
                        {% if item.card_message %}Y{% else %}N{% endif %}
                    </p>
                    <p class="my-0 small text-muted">Note To Seller: 
                        {% if item.note_to_seller %}Y{% else %}N{% endif %}
                    </p>
                    
                </div>
                <div class="col-3 text-right">
                    <p class="my-0 small text-muted">£{{ item.subtotal }} </p>
                </div>
            </div>
            {% endif %}
            {% if item.event %}
            <div class="row">
                <div class="col-2 mb-1">
                    <a href="{% url 'event_detail' item.event.id %}">
                        {% if item.event.image %}
                        <img src="{{ item.event.image.url }}" alt="{{ item.event.alt_text }}" class="img-fluid">
                        {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.event.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-7">
                    <p class="my-0"><strong>{{ item.event.friendly_name }}</strong></p>                    
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                    <p class="my-0 small text-muted">Attendee/s: {{ item.attendee_name }}</p>                      
                    <p class="my-0 small text-muted">Note To Host: 
                        {% if item.note_to_host %}Y{% else %}N{% endif %}
                    </p>                    
                </div>
                <div class="col-3 text-right">
                    <p class="my-0 small text-muted">£{{ item.subtotal }} </p>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>











{% endblock %}

{% block postloadjs %}

{{ block.super }}

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Delivery method input selector, when the user clicks the button it triggers the function to show/hide delivery details 
        const deliveryMethodInputs = document.querySelectorAll(
            'input[name="delivery_method"], #delivery_method_wrapper select');
        deliveryMethodInputs.forEach(input => {
            input.addEventListener('change', toggleDeliveryDetails);
        });

        toggleDeliveryDetails();

        //Delivery method for Products
        // listens for a change on the select radio box for delivery
        const deliveryMethodSelect = document.querySelector('#delivery_method_wrapper select');
        if (deliveryMethodSelect) {
            deliveryMethodSelect.addEventListener('change', function () {
                toggleDeliveryDetails();
            });
        }
    });

    // Displays the delivery information if delivery was selected.
    function toggleDeliveryDetails() {
        const deliveryDetails = document.querySelector('.delivery-details');
        const shopDetails = document.querySelector('.shop-details');
        const deliveryMethod = document.querySelector('input[name="delivery_method"]:checked') || document
            .querySelector('#delivery_method_wrapper select');

        if (deliveryMethod && deliveryMethod.value === 'delivery') {
            deliveryDetails.style.display = 'block';
            shopDetails.style.display = 'none';
        } else if (deliveryMethod && deliveryMethod.value === 'pickup') {
            deliveryDetails.style.display = 'none';
            shopDetails.style.display = 'block';
        } else {
            deliveryDetails.style.display = 'none';
            shopDetails.style.display = 'none';
        }
    }



    // Functions to show/hide the different form parts. step = current step user is on.    
    // Validate fields for the current step by getting the form elements required.
    // Alert if a field is missing. 

    let orderType = "{{ order_type }}";

    // Function to validate fields and show next step
    function validateAndShowNextStep(currentStep) {
        const orderType = "{{ order_type }}";

        if (currentStep === 1) {
            const fullName = document.getElementById('id_full_name').value.trim();
            const email = document.getElementById('id_email').value.trim();

            if (!fullName || !email) {
                alert('Please fill out all fields required by Customer Details');
                return;
            }
        } else if (currentStep === 2) {
            const phoneNumber = document.getElementById('id_phone_number').value.trim();
            const streetAddress1 = document.getElementById('id_street_address1').value.trim();
            const townOrCity = document.getElementById('id_town_or_city').value.trim();
            const county = document.getElementById('id_county').value.trim();
            const postcode = document.getElementById('id_postcode').value.trim();

            if (!phoneNumber || !streetAddress1 || !townOrCity || !county || !postcode) {
                alert('Please fill out all fields required by Customer Address');
                return;
            }
        } else if (currentStep === 3) {
            if (orderType === 'product') {
                const deliveryDate = document.getElementById('id_delivery_date').value.trim();
                const deliveryMethod = document.querySelector('input[name="delivery_method"]:checked');
                if (!deliveryMethod || !deliveryDate) {
                    alert('Please select a delivery method and date.');
                    return;
                }

                if (deliveryMethod.value === 'delivery') {
                    const deliveryDate = document.getElementById('id_delivery_date').value.trim();
                    const deliveryName = document.getElementById('id_delivery_name').value.trim();
                    const deliveryStreetAddress1 = document.getElementById('id_delivery_street_address1').value
                        .trim();
                    const deliveryTownOrCity = document.getElementById('id_delivery_town_or_city').value.trim();
                    const deliveryCounty = document.getElementById('id_delivery_county').value.trim();
                    const deliveryPostcode = document.getElementById('id_delivery_postcode').value.trim();

                    if (!deliveryDate || !deliveryName || !deliveryStreetAddress1 ||
                        !deliveryTownOrCity || !deliveryCounty || !deliveryPostcode) {
                        alert('Please fill out all required Delivery Information.');
                        return;
                    }
                }
            }
        }

        // If form is valid hide current step and display next step.    
        document.getElementById(`step-${currentStep}`).style.display = 'none';
        document.getElementById(`step-${currentStep + 1}`).style.display = 'block';
    }

    // hide's the next step from view when the user goes back and shows the step they are on. 
    function showPreviousStep(step) {
        document.getElementById(`step-${step + 1}`).style.display = 'none';
        document.getElementById(`step-${step}`).style.display = 'block';
    }
</script>

{% endblock %}