html {
    height: 100%;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;   
}

.header-container{margin-top:75px;}

.page-space{
    margin-top:75px;
}

h1,
h2, .title-font {
    font-family: 'EB Garamond', serif;
}

.text-pink{
    color:#DC6874;
}

.no-link-style {
    text-decoration: none;
    color: black;
}


/* backgrounds */
.bg-lpink {
    background-color: #ffc4ca;
}

.bg-green{ background-color: #04724d;}

.bg-green .dropdown-item {color:white;}
 
.heading-banner {
    min-height: 150px;
    padding: 1% 0;
    margin-bottom: 5rem;
}

.btn-green {
    background-color: #04724d;
    color:white;   
}

.btn-green:hover, .btn-green:active {
    background-color: #ade5d3;
    color: black;
    border: none;    
}

.img-page-break {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-side {
    min-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.text-highlight {color:#04724d}

/* Nav Bar */

.nav-logo{
    display: block;    
    height: 75px;     
    object-fit: cover;
    object-position: center;
}

.nav-icon{font-size: 20px;
color: #04724d;}

.border-green{border-color: #04724d;}

.search-overlay {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    z-index: 1000;
}

.margin-15{margin-right: 15px;}

.margin-10{margin-right: 10px;}

/* Home */

.img-hero {
    min-width:300px;         
    height: auto;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.grid-img {
    display: block;
    width: 100%;
    height: 300px; 
    object-fit: cover;
    object-position: center;
}

.grid-img-overlay {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: block;
    color: black;
}

.grid-img-overlay:hover {
        color: black;
        background-color: #DC6874;
}

.img-events {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.events-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: black;
}

.caption {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(100%);
}

.review-text {
    font-size: 1.5rem;
    font-style: italic;
}

.review-author {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
}

/* Shop pages */


.shop-img {
    display: block;
    width: 100%;
    height: 600px; 
    object-fit: cover;
    object-position: center;
}

.bg-sub-menu{ background-color: #ffc4ca;
padding: 1%;}

.green-link-style {   
    color: #04724d;
}

.custom-select {
    background-color: #f8f9fa;
    color: #495057;
    border-color: #ced4da;    
}

.custom-select:focus {
    border-color: #ced4da;
    outline: 0;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

@media (max-width: 1298px){
    .shop-img{        
        height: 400px; 
    }
}

@media (max-width: 992px) {
    .img-events {
    min-height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

}

@media (max-width: 764px){
    .shop-img{        
        height: 500px; 
    } 
}

@media (max-width: 574px){
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        }
}


/* .nav-logo{     
    height: 75px;     
    } */

    /* @media (max-width: 566px){
        .shop-img{        
            height: 250px; 
        }
    } */