html {
    height: 100%;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.standard-font {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.header-container {
    margin-top: 75px;
}

.page-space {
    margin-top: 75px;
}

h1,
h2,
.title-font {
    font-family: 'EB Garamond', serif;
}

.text-pink {
    color: #DC6874;
}

.text-green {
    color: #04724d;
}

.text-justify {
    text-align: justify;
}

.no-link-style {
    text-decoration: none;
    color: black;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 999999999999999;
}

.custom-toast {
    overflow: visible;
    max-width: 90vw;
}

.toast-caper {
    height: 2px;
}

.bag-notification-wrapper {
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;

}



/* backgrounds/buttons */
.bg-lpink {
    background-color: #ffc4ca;
}

.bg-green {
    background-color: #04724d;
}

.bg-green .dropdown-item {
    color: white;
}

.heading-banner {
    min-height: 150px;
    padding: 1% 0;
    margin-bottom: 5rem;
}

.btn-lgreen {
    background-color: #ade5d3;
}

.btn-lblue {
    background-color:#9bebf7;
    color: black;
}

.btn-lblue:hover{
    background-color: #17a2b8;
    color: white;
}

.btn-lgreen:hover {
    background-color: #ffc4ca;
}

.btn-pink {
    background-color: #DC6874;
    color: white;
}

.btn-green {
    background-color: #04724d;
    color: white;
}

.btn-green:hover,
.btn-green:active {
    background-color: #ade5d3;
    color: black;
    border: none;
}

.btn-pink:hover {
    background-color: #ffc4ca;
    color: black;
}

.img-page-break {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-side {
    min-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.text-highlight {
    color: #04724d
}

/* Nav Bar */

.nav-logo {
    display: block;
    height: 75px;
    object-fit: cover;
    object-position: center;
}

.nav-icon {
    font-size: 20px;
    color: #04724d;
}

.border-green {
    border-color: #04724d;
}

.search-overlay {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    z-index: 1000;
}

.margin-15 {
    margin-right: 15px;
}

.margin-10 {
    margin-right: 10px;
}

.icon-pink {
    color: #DC6874;
}

/* Footer */

#footer-logo {
    height: 300px;
}

.footer-text {
    font-size: 12px;
}

.social-links a {
    color: #04724d;
}

.social-links a:hover {
    color: #DC6874;
}

/* Home */

.img-hero {
    min-width: 300px;
    height: auto;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.grid-img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.grid-img-overlay {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: block;
    color: black;
}

.grid-img-overlay:hover {
    color: black;
    background-color: #DC6874;
}

.img-events {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.events-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: black;
}

.caption {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(100%);
}

.review-text {
    font-size: 1.2rem;
    font-style: italic;
}

.review-author {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

#carouselReveiw {
    position: relative;
    min-height: 300px;
    align-items: center;
    justify-content: center;
}

/* Shop pages (inc products and events */

.shop-img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.product-detail-img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.bg-sub-menu {
    background-color: #ffc4ca;
    padding: 1%;
}

.green-link-style {
    color: #04724d;
}

.custom-select {
    background-color: #f8f9fa;
    color: #495057;
    border-color: #ced4da;
}

.custom-select:focus {
    border-color: #ced4da;
    outline: 0;
}

#sortSelector {
    padding: 5px 0;
}

/* Bag */

/* About */

.img-side-about {
    min-height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-side-delivery {  
    width: 100%;
    object-fit: cover;
    object-position: center;
}



/* Contact */

.map-background {    
    background:#04724d;
    color: white;
    }

/* Code for maintaing aspect ratio taken from https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */

.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }



/* Blog */
.page-item.active .page-link {
    background-color: #DC6874;
    border-color: #DC6874;
}

.note-group-select-from-files {
    display: none;
}



.blog-img {
    max-height: 600px;
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page-link {
    color: black;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn to match bootstrap/btn-green */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #04724d;
    border: 1px solid #04724d;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Btn-green matched hover  */
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: black;
    background-color: #ade5d3;
    border-color: #ade5d3;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}


/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 1298px) {
    .product-detail-img {
        height: 400px;
    }
}

@media (max-width: 992px) {
    .img-events {
        min-height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@media (max-width: 768px) {
    .product-detail-img {
        height: 500px;
    }
}



@media (max-width: 574px) {
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .delete-event-btn {
        padding: 1%;
    }
}


/* .nav-logo{     
    height: 75px;     
    } */

/* @media (max-width: 566px){
        .shop-img{        
            height: 250px; 
        }
    } */