html {
    height: 100%;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}


h1, h2 {
    font-family: 'EB Garamond', serif;    
}

.bg-lpink{
    background-color: #ffc4ca;
}

.heading-banner {
    height: 150px;
    padding: 1% 0;
    margin-bottom: 5rem;
}

.btn-green {
    background-color: #04724d;
    color: white;
}

.btn-green:hover{
    background-color: #ade5d3;
    color: black;
}

.img-page-break {    
    max-height: 300px; 
    width: 100%; 
    object-fit: cover;
    object-position: center;
}

.img-side {
    min-height: 300px; 
    width: 100%; 
    object-fit: cover;
    object-position: center;
}


/* Home */

.image {
    display: block;
    width: 100%;
}

.image-container {
    position: relative;
    overflow: hidden;    
}

.image-overlay {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: block;
    color: black;
}

.image-overlay:hover {
    display: block;
    color: black;
}

.img-events {
    max-height: 300px; 
    width: 100%; 
    object-fit: cover;
    object-position: center;
}

.events-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: black;       
}

.caption {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}