{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <row class="mt-4 mb-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'shop' %}" class="no-link-style">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'shop' %}?category=events"
                        class="no-link-style">Events</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ event.friendly_name|title }}</li>
            </ol>
        </nav>
</div>
</div>

<!-- event title, date/time and price -->
<div class="container">
    <div class="row">
        <div class="col-12 bd-2 mt-4 text-center">
            <h1>{{ event.friendly_name }}</h1>
        </div>
        <div class="col-12 my-2 text-center">
            <h3 class="title-font">{{ event.event_datetime|date:"F j, Y" }} at {{ event.event_datetime|time:"g:i A" }}
            </h3>
        </div>
        <div class="col-12 my-2 text-center">
            <h3 class="title-font">Length: {{ event.duration_hours}} hours
            </h3>
        </div>
        <div class="col-12 my-2 text-center">
            <h3 class="title-font">£{{ event.price }}pp
            </h3>
        </div>
    </div>
</div>

<!-- event Image and Description -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-12 my-4">
            <img src="{{ event.image.url }}" class="img-fluid rounded event-detail-image" alt="{{ event.alt_text }}">
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-9 col-12 my-4 text-justify">
            <p>{{ event.description }}</p>
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <p class="my-4">For more information on Location and facilities at the meadow, <a href=""
                            class="no-link-style">click here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- event Order Form -->
<div class="container my-4">
    <div class="row">
        <form method="POST" clas="form" action="{% url 'add_event_to_bag' event.id %}">
            {% csrf_token %}
             <!-- Hidden 'is event' check -->                    
            <input type="hidden" name="product_type" value="event">                
            <!-- Date/Time -->
            <div class="row">
                <div class="col-lg-8 col-12">
                </div>
            </div>
            <!-- Optional message if this is a gift -->
            <div class="row">
                <div class="col-lg-8 col-12">
                </div>
            </div>
            <!-- Note to , inc placeholder of state name of attendee -->
            <div class="row">
                <div class="col-lg-8 col-12">
                </div>
            </div>
            <!-- Quantity -->
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="input-group">
                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99"
                            data-item_id="{{ event.id }}" id="id_qty_{{ event.id }}">
                    </div>
                </div>
            </div>

            <!-- Submit and keep shopping buttons (plus hidden URL) -->
            <div class="row">
                <div class="col-md-6 col-12 mb-4">
                    <input type="submit" class="btn-green btn mt-4 me-4" value="Add to Basket">
                    <a href="{% url 'shop' %}" class="btn btn-green mt-4">Keep Shopping</a>
                </div>
                <!-- Hidden url input  so can return user to page after iten added to bag -->
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </form>
    </div>
</div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // document.addEventListener('DOMContentLoaded', function () {
    //     var sizeSelect = document.getElementById('id_size');
    //     var productPriceElement = document.getElementById('product-price');
    //     var selectedSizePriceInput = document.getElementById('id_selected_size_price');
    //     var originalPrice = parseFloat('{{ product.price }}'); // Assuming product.price is a decimal number

    //     sizeSelect.addEventListener('change', function () {
    //         var selectedSize = sizeSelect.value;
    //         var adjustedPrice = originalPrice; // Default to original price for 'M'

    //         if (selectedSize === 'S') {
    //             adjustedPrice *= 0.7; // 70% of original price for small
    //         } else if (selectedSize === 'L') {
    //             adjustedPrice *= 1.3; // 130% of original price for large
    //         }

    //         productPriceElement.textContent = adjustedPrice.toFixed(2);
    //         selectedSizePriceInput.value = adjustedPrice.toFixed(2); // Set hidden input value
    //     });

    //     // Trigger initial price update on page load
    //     sizeSelect.dispatchEvent(new Event('change'));
    // });
</script>
{% endblock %}