{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Add Post
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">

    <!-- Page Title --->
    <div class="row mt-4 mb-4">
        <div class="col-12 text-center">
            <h2>Add Blog Post</h2>
        </div>
    </div>

    <div class="row text-center align-items-center justify-content-center mt-4 mb-4">
        <div class="col-12 col-md-9 col-lg-6">
            <p>
                Use this form to add a blog post to the site. If you want to link a product/event to the post, use the "Product" or "Event" drop downs. 
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <form action="" method = POST>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-green">Post</button>
            </form>

        </div>
    </div>      

</div>


{% endblock %}