{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Blog Posts
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">

    <!-- Page Title - Blog Posts -->
    <div class="row mt-4 mb-4">
        <div class="col-12 text-center">
            <h2>Blog Posts</h2>
        </div>
    </div>
    <!-- Introduction -->
    <div class="row text-center align-items-center justify-content-center mt-4 mb-4">
        <div class="col-12 col-md-9 col-lg-6">
            {% if user.is_authenticated %}
            <p class="text-justify">
                We’re passionate about all things plants and love sharing our knowledge with you!<strong> You're already
                    signed
                    up</strong> to be the first to know about new blog posts on everything from gardening tips to plant
                care guides.
                If you’re searching for something specific and can’t find it, let us know — we might just write a post
                on it!
            </p>
            {% else %}
            <p class="text-justify">
                We’re passionate about all things plants and love sharing our knowledge with you! Check back regularly
                for new blog posts on everything from gardening tips to plant care guides. To stay updated on our latest
                content, make sure to <a href="{% url 'account_signup' %}" class="no-link-style"><strong>sign
                        up</a></strong> for notifications. If you’re searching for
                something specific and can’t find it, let us know — we might just write a post on it!
            </p>
            {% endif %}      
          </div>        
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-6 text-center">
             <!-- Search box -->
            <form method="GET" action="{% url 'posts' %}">
                <div class="row justify-content-center">
                <div class="input-group d-flex justify-content-center">
                    <div class="col-md-4 col-12 mb-2 me-3 ms-3">
                        <input class="form-control form-control-sm border-green rounded-0 p-2" type="text" name="q"
                            placeholder="Search blog posts..." value="{{ search_term }}">
                    </div>
                    <div class="col-md-4 col-12 d-flex justify-content-start">
                        <!-- A for formating filler -->
                        <a href="">
                        <button class="btn btn-green me-2" type="submit">
                            Search
                        </button>  
                    </a>              
                        <a href="{% url 'posts' %}" class="no-link-style me-0" aria-label="Clear search">
                            <button class="btn-pink btn" type="button"> Clear
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            </form>
        </div>
    </div>
    <div class="row mb-4">
        {% if user.is_authenticated and user.is_superuser %}
        <div class="col-12 text-end mt-4">
            <a href="{{ 'add_post' }}" class="btn btn-green">Add Post</a>
        </div>
        {% endif %}
    </div>

    <!-- Display no results message if applicable -->
    {% if no_results %}
    <div class="row">
        <div class="col-12 text-center">
            <p>No results found for "{{ search_term }}"</p>
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-center">
        {% for post in page_obj %}
        <div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch mb-4">
            <div class="card blog-post w-100">
                <a href="{% url 'post_detail' post.id %}" class="no-link-style">
                    <div class="thumbnail">
                        <div class="image-container">
                            {% if post.image %}
                            <img src="{{ post.image.url }}" class="shop-img" alt="{{ post.alt_text }}">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="shop-img" alt="{{ post.title }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body text-center d-flex flex-column">
                        {% if user.is_authenticated and user.is_superuser %}
                        <div class="row mb-2">
                            <p class="text-end"><small>
                                    <a class="text-end text-green" href="{% url 'post_update' post.id %}">Edit</a>
                                    <a class="text-danger" href="{% url 'post_delete' post.id %}">Delete</a></small>
                            </p>
                        </div>
                        {% endif %}
                        <h3 class="title-font">{{ post.title }}</h3>
                        <p class="card-text">{{ post.date|date:"F j, Y" }}</p>
                        <div class="blogbody card-text">
                            <p class="text-justify blogbody">{{ post.body|slice:":200"|safe }}
                                {% if post.body|length > 200 %}... {% endif %}
                            </p>
                        </div>
                        <a class="no-link-style" href="{% url 'post_detail' post.id %}">
                            <p class="text-green">Read more</p>
                        </a>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}

        <!-- Pagination adapted from bootstrap -->
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- If there is a prev page, create a li item for it -->
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <!-- << symbol + text for SR -->
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}
                        <!-- Loop the page range and create li items. If current page == num add active class -->
                        {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endfor %}
                        <!-- If there is a next page, create a li item for it -->
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</div>


{% endblock %}