{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- {{ post.title|title  }}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">

    <!-- Page Title --->
    <div class="row mt-4 mb-2">
        <div class="col-12 text-center">
            <h2>{{ post.title|title  }}</h2>            
        </div>
    </div>

    <div class="row">
        <div class="col text-center mb-4">
            <p>{{ post.date|date:"F j, Y" }}</p>
            <div class="row">
                <p><small><a class="text-green"
                            href="{% url 'post_update' post.id %}">Admin ONLY! Edit</a>
                        <a class="text-danger" href="">Delete</a></small></p>
            </div>
        </div>
        
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <div class="thumbnail">
                <div class="image-container">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="blog-img" alt="{{ post.alt_text }}">
                    {% else %}
                    <img src="{{ MEDIA_URL }}noimage.png" class="blog-img" alt="{{ post.title }}">
                    {% endif %}
                </div>
            </div>
        </div>                    
    </div>    
    <div class="row mt-4 mb-4">
        <div class="col-12">
        <p class="text-justify">{{ post.body }}</p>
    </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="text-center">
            <a href="{% url 'posts' %}" class="no-link-style">
                <button class="btn btn-green">Back To Posts</button></a>
        </div>
    </div>

</div>


{% endblock %}