{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Edit Post
{% endblock %}

<!-- Ensures content is spaced correctly -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">

    <!-- Page Title -->
    <div class="row mt-4 mb-4">
        <div class="col-12 text-center">
            <h2>Add Blog Post</h2>
        </div>
    </div>

    <div class="row text-center align-items-center justify-content-center mt-4 mb-4">
        <div class="col-12 col-md-9 col-lg-6">
            <p>
                Use this form to EDIT a blog post.
            </p>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-6 col-12">
            <div class="form-group">
            <form action="{% url 'post_update' post.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-field">
                    {{ form.title|as_crispy_field }}                    
                    {{ form.product|as_crispy_field }}
                    {{ form.event|as_crispy_field }}
                    {{ form.body|as_crispy_field }}  
                    <!-- Render custom image widget separately -->
                    <div class="form-field">
                        <label for="{{ form.image.id_for_label }}">Image:</label>
                        <p>ID for label: {{ form.image.id_for_label }}</p>

                        {{ form.image }}
                    </div>
                    {{ form.alt_text|as_crispy_field }}                                      
                </div>
                <div class="text-end">
                    <a class="btn btn-pink" href="{% url 'post_detail' post.id %}">Cancel</a>
                    <button class="btn btn-green" type="submit">Save</button>
                </div>
            </form>
        </div>
        </div>
    </div>      

</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}