<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('Script is running!');
        // Code taken but heavily adapted from the CI tutorial for Boutique Ado
        // Get keys
        var stripePublicKey = $('#id_stripe_public_key').text().slice(1, -1);
        var clientSecret = $('#id_client_secret').text().slice(1, -1);
        //create a variable using our stripe public key.
        var stripe = Stripe(stripePublicKey);
        var elements = stripe.elements();

        // style elements from stripe JS modified to match site design/bootstrap
        var style = {
            base: {
                color: '#000',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#dc3545',
                iconColor: '#dc3545'
            }
        };

        var card = elements.create('card', {
            style: style
        });

        // mount into the card div
        card.mount('#card-element');


        // Handle realtime validation errors on the card element
        card.on('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
                displayError.classList.add('StripeElement--invalid');
            } else {
                displayError.textContent = '';
                displayError.classList.remove('StripeElement--invalid');
            }
        });

        // Handle form submit
        var form = document.getElementById('payment-form');

        form.addEventListener('submit', function (ev) {
            ev.preventDefault();
            card.update({
                'disabled': true
            });
            $('#submit-button').attr('disabled', true);

            var orderType = $('input[name="order_type"]').val();
            console.log('order tuype is', orderType)

            var billingDetails = {
                name: $.trim(form.full_name.value),
                phone: $.trim(form.phone_number.value),
                email: $.trim(form.email.value),
                address: {
                    line1: $.trim(form.street_address1.value),
                    line2: $.trim(form.street_address2.value),
                    city: $.trim(form.town_or_city.value),
                    state: $.trim(form.county.value),
                    postal_code: $.trim(form.postcode.value)
                }
            };

            // Initialise delivery variables so don't get errors for events.
            var deliveryMethod = '';
            var deliveryDate = '';


            // Use querySelector to get form fields (only gets if product and doesn't error if event)
            var deliveryMethodField = document.querySelector('input[name="delivery_method"]:checked') ||
                document.querySelector('#delivery_method_wrapper select');
            var deliveryDateField = document.querySelector('#id_delivery_date');

            // Set delivery information only if order type is 'product'
            if (orderType === 'product' || orderType === 'product and event') {
                if (deliveryMethodField) {
                    deliveryMethod = deliveryMethodField.value || '';
                }
                if (deliveryDateField) {
                    deliveryDate = deliveryDateField.value || '';
                }
            }

            // Construct the shipping details only if they are provided by products and there is a 'delivery' field
            var shippingDetails = null;
            var deliveryNameField = document.querySelector('input[name="delivery_name"]');
            if (deliveryNameField && $.trim(deliveryNameField.value) && (orderType === 'product' || orderType === 'product and event')) {
                shippingDetails = {
                    name: $.trim(form.delivery_name.value),
                    phone: $.trim(form.phone_number.value),
                    address: {
                        line1: $.trim(form.delivery_street_address1.value),
                        line2: $.trim(form.delivery_street_address2.value),
                        city: $.trim(form.delivery_town_or_city.value),
                        postal_code: $.trim(form.delivery_postcode.value),
                        state: $.trim(form.delivery_county.value),
                    }
                };
            }

            // Does the user want to save their info?
            var saveInfo = Boolean($('#id-save-info').attr('checked'));
            // From using {% csrf_token %} in the form
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

            var orderType = $('input[name="order_type"]').val();
            // pass info to view
            var postData = {
                'csrfmiddlewaretoken': csrfToken,
                'client_secret': clientSecret,
                'save_info': saveInfo,
                'delivery_method': deliveryMethod,
                'delivery_date': deliveryDate,
                'order_type': orderType,
            };

            // URL
            var url = '/checkout/cache_checkout_data/';

            $.post(url, postData).done(function () {                          
                stripe.confirmCardPayment(clientSecret, {
                    payment_method: {
                        card: card,
                        billing_details: billingDetails,
                    },
                    shipping: shippingDetails,
                }).then(function (result) {
                    if (result.error) {
                        var errorDiv = document.getElementById('card-errors');
                        var html = `
                <span class="icon" role="alert">
                <i class="fas fa-times"></i>
                </span>
                <span>${result.error.message}</span>`;
                        $(errorDiv).html(html);
                        card.update({
                            'disabled': false
                        });
                        $('#submit-button').attr('disabled', false);
                    } else {
                        if (result.paymentIntent.status === 'succeeded') {
                            form.submit();
                        }
                    }
                });
            }).fail(function () {
                // just reload the page, the error will be in django messages
                location.reload();
            })
        });
    });
</script>