<header class="container-fluid fixed-top bg-white border-bottom">
    <div class="container-fluid">
        <div class="row">

            <!-- Logo -->
            <div class="col-sm-2 col-3 my-0 ps-0 justify-content-start">
                <a href="{% url 'home' %}" class="nav-link">
                    <img src="/media/short-logo.png" class="nav-logo" alt="Image 1">
                </a>
            </div>

            <!-- Navbar toggle and Links -->
            <div class="col-sm-6 col-md-8 col-2 my-2">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav mx-auto d-flex justify-content-around w-100">
                            <li class="nav-item">
                                <a href="{% url 'home' %}" class="nav-link main-logo-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'shop' %}" class="nav-link">Shop</a>
                            </li>                                
                            <li class="nav-item">
                                <a href="{% url 'posts' %}" class="nav-link">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contact & About</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- Account, Shopping Bag and Search-->
            <div class="col-7 col-sm-4 col-md-2 my-4 d-flex justify-content-end">
                <ul class="list-inline list-unstyled mb-0 ml-lg-2">
                    <!-- My Account + dropdown options -->
                    <li class="list-inline-item mr-lg-4 dropdown nav-item">
                        <a class="nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div><i class="fas fa-user nav-icon"></i></div>
                        </a>
                        <div class="dropdown-menu border-0 bg-green" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">TMP Management</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>

                    <!-- Link to Shopping Bag -->
                    <li class="list-inline-item nav-item">
                        <a class="nav-link" href="{% url 'view_bag' %}">
                            <i class="fas fa-shopping-bag nav-icon {% if grand_total %}icon-pink{% endif %}"></i>
                        </a>
                    </li>


                    <!-- Search Toggle -->
                    <li class="list-inline-item nav-item">
                        <a class="nav-link search-icon-toggle" href="#">
                            <i class="fas fa-search nav-icon"></i>
                        </a>
                    </li>
                </ul>
                <!-- Toggled Search bar -->
                <div class="search-overlay bg-white">
                    <form method="GET" action="{% url 'shop' %}" class="form-inline mb-0">
                        <div class="input-group">
                            <input class="form-control form-control-sm border-green margin-10 rounded-0"
                                type="text" name="q" aria-label="Search" placeholder="Shop search">
                            <div class="input-group-append">
                                <button class="btn btn-green margin-10" type="submit">
                                    Search
                                </button>
                            </div>
                            <div class="input-group-append mr-3">
                                <button class="close-search btn-green btn margin-15" type="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</header>