<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    // Function to handle the visibility toggling for card messages
    function handleCardMessageEdit(button) {
        button.addEventListener('click', function() {
            var cardMessageDisplayTd = this.closest('td');
            var editCardMessageTd = cardMessageDisplayTd.nextElementSibling;

            if (cardMessageDisplayTd && editCardMessageTd) {
                cardMessageDisplayTd.style.display = 'none';
                editCardMessageTd.style.display = 'table-cell';
            }
        });
    }

    // Function to handle the visibility toggling for seller notes
    function handleNoteSellerEdit(button) {
        button.addEventListener('click', function() {
            var noteSellerDisplayTd = this.closest('td');
            var editNoteSellerTd = noteSellerDisplayTd.nextElementSibling;

            if (noteSellerDisplayTd && editNoteSellerTd) {
                noteSellerDisplayTd.style.display = 'none';
                editNoteSellerTd.style.display = 'table-cell';
            }
        });
    }

    // Add event listeners to all card message edit buttons
    var editCardButtons = document.querySelectorAll('.edit-cm-btn');
    editCardButtons.forEach(function(button) {
        handleCardMessageEdit(button);
    });

    // Add event listeners to all seller note edit buttons
    var editNoteButtons = document.querySelectorAll('.edit-ns-btn');
    editNoteButtons.forEach(function(button) {
        handleNoteSellerEdit(button);
    });
});

</script>