{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-12 text-center">
            <h2>Shop</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <!-- use filter function/ for loop on categories of products to render the options and display here -->
            <ul>
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">Flowers</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Plants</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Gift Cards</a>
                </li>            
            </ul>
        </div>

    </div>

    <div class="row text-center align-items-center justify-content-center mt-4 mb-4">
        <div class="col-12 col-md-6">
            <p>
                Welcome to The Meadow Project's shop! Discover our exquisite collection of flowers and plants, available
                both online and at our shop nestled in our scenic field. If
                you have a specific vision in mind or need something customised, reach out to us via the link below. We
                specialise in creating bespoke bouquets and catering to corporate events and weddings.
            </p>
        </div>
    </div>

</div>

{% endblock %}