{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-12 text-center">
            <h2>Shop</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <!-- use filter function/ for loop on categories of products to render the options and display here -->
            <ul>
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">Flowers</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Plants</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Gift Cards</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="row text-center align-items-center justify-content-center mt-4 mb-4">
        <div class="col-12 col-md-9 col-lg-6">
            <p>
                Welcome to The Meadow Project's shop! Discover our exquisite collection of flowers and plants, available
                both online and at our shop nestled in our scenic field. If
                you have a specific vision in mind or need something customised, reach out to us via the link below. We
                specialise in creating bespoke bouquets and catering to corporate events and weddings.
            </p>
        </div>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <a href="" class="no-link-style">
                <div class="thumbnail">
                    <div class="image-container">
                        {% if product.image %}                                                
                            <img src="{{ product.image.url }}" class="shop-img" alt="{{ product.alt_text }}">                            
                        {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" class="shop-img" alt="{{ product.alt_text }}">
                        {% endif %}
                    </div>
                </div>           
            <div class="row text-center product-text mt-4 mb-4">
                <h4 class="title-font">{{ product.friendly_name }}</h4>
                <h4 class="title-font">£{{ product.price }}</h4>
            </div>
            
            </a>
        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}