{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- About & Contact
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Initial Info container -->
<div class="container">
    <!-- Page Title - About Page -->
    <div class="row mt-4 mb-5">
        <div class="col-12 text-center">
            <h2>About Us</h2>
        </div>
    </div>

    <!-- Page break image -->
    <div class="container">
        <div class="row justify-content-center mt-2 mb-5">
            <div class="col-12 mb-2 ">
                <img src="/media/pexels-gary-barnes-6231781.jpg" class="img-fluid img-page-break" alt="Image 1">
            </div>
        </div>
    </div>

    <!-- Introduction -->
    <div class="row text-center align-items-center justify-content-center mt-4 mb-5">
        <div class="col-12 col-md-9 col-lg-6">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <i class="fa-brands fa-pagelines fa-3x mb-2"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">The Meadow Project is a team of passionate gardeners onn a mission to
                        transform our local meadow into a vibrant,
                        eco-friendly haven. Using sustainable methods, we enrich the landscape with beautiful,
                        affordable wildflowers and cultivated plants that bring joy to homes throughout our community.
                        Our commitment extends beyond gardening—through engaging outreach programs, informative blog
                        posts and community events,
                        we aim to educate and inspire our neighbours to embrace green practices and cultivate their own
                        green
                        spaces. Join them in celebrating nature and nurturing a more beautiful, environmentally
                        conscious community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="row">
                        <div class="col-6 mb-2">
                            <a href="{% url 'posts' %}" class="btn btn-green no-link-style text-white d-block">Posts</a>
                        </div>
                        <div class="col-6 mb-2">
                            <a href="{% url 'shop' %}" class="btn btn-green no-link-style text-white d-block">Shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="row">
                        <div class="col-6 mb-2">
                            <a href="{% url 'shop' %}?category=events"
                                class="btn btn-green no-link-style text-white d-block">Events</a>
                        </div>
                        <div class="col-6 mb-2">
                            <a href="" class="btn btn-green no-link-style text-white d-block">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- About the meadow container -->
<div class="container">
    <div class="row justify-content-center mt-2 mb-5">
        <div class="col-lg-4 offset-lg-1 col-md-6 col-12 mt-4 d-flex align-items-center">
            <img src="/media/will-TWJmj182gu4-unsplash.jpg" class="img-fluid img-side-about" alt="Shop front">
        </div>
        <div
            class=" col-lg-4 offset-lg-1 col-md-6 col-12 mt-4 d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-shop fa-3x mb-3"></i>
            <h3 class="title-font text-center mb-3">Our Shop</h3>
            <p class="text-justify"><strong>Opening hours:</strong> Tuesday to Friday 10:00-17:00 and
                Saturday: 9:00-17:00. There is free parking on site and we are easily accessible via bus and bike!</p>
            <p class="text-justify"><strong>Collection info: </strong>If you're picking up an order from us it from 10:00 unless otherwsie prearranged. If you miss your collection, and haven’t given us notice, we will be unable to make another bouquet for you.</p>
            <p><strong><a href="{% url 'contact' %}" class="no-link-style">Find Us Here</a></strong></p>
        </div>
    </div>
</div>

<!-- About Delivery container  -->
<div class="container mb-5">
    <div class="row justify-content-center mt-4">
        <!-- Text on the left -->
        <div
            class="col-lg-4 offset-lg-1 col-md-6 col-12 mt-4 d-flex flex-column justify-content-center align-items-center">
            
            <i class="fa-solid fa-bicycle fa-3x mb-2"></i>
            <h3 class="title-font text-center mb-3">Delivery</h3>
            <p class="text-justify mt-4">Our commitment to sustainability extends to our delivery service. Whenever
                possible, we use eco-friendly bikes to deliver your orders, minimising our carbon footprint and
                promoting a healthier environment. For larger or less accessible deliveries, we use energy-efficient
                vans, ensuring that every step of our process aligns with our dedication to eco-conscious practices.
                Enjoy your purchase with the assurance that it arrives in the greenest way possible!</p>
        </div>
        <!-- Image on the right -->
        <div class="col-lg-5 offset-lg-1 col-md-6 col-12 mt-4 d-flex align-items-center">
            <img src="/media/pexels-ian-panelo-9693904.jpg" class="img-fluid img-side-delivery" alt="Image 1">
        </div>
    </div>
</div>

<!-- Bootstrap Carousel -->
<div class="container">
    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-lg-6 col-md-9 col-12 mb-2 ">
            <div id="eventCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- First Slide -->
                    <div class="carousel-item active">
                        <img src="/media/pexels-lina-3394137.jpg" class="d-block w-100" alt="Image 1">
                    </div>
                    <!-- Add more slides here -->
                    <!-- Second Slide -->
                    <div class="carousel-item">
                        <img src="/media/pexels-orlovamaria-4947288.jpg" class="d-block w-100" alt="Image 2">
                    </div>
                    <!-- Third Slide -->
                    <div class="carousel-item">
                        <img src="/media/pexels-rdne-8279050.jpg" class="d-block w-100" alt="Image 3">
                    </div>
                    <!-- Fourth Slide -->
                    <div class="carousel-item">
                        <img src="/media/pexels-mina-marie-michell-161605-570041.jpg" class="d-block w-100"
                            alt="Image 3">
                    </div>
                </div>
                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#eventCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#eventCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9 col-12 mb-2">
            <h3 class="title-font text-center mb-3">Our Events</h3>
            <p class="text-justify">Join us at our beautifully maintained, all-weather venue located right on site (free
                parking). During the summer months, we also host events out in the field, making the most of the great
                outdoors.</p>

            <p>No matter the occasion, refreshments are always available for you to enjoy, even if you're not attending
                a lunch-specific event.</p>
            <p> Check out our <a href="{% url 'shop' %}?category=events" class="text-green"><strong>Events Page</strong>
                </a>to see what we've got going on</p>
        </div>
    </div>
</div>

<!-- Contact info container -->
<div class="container">
    <div class="row mt-5 mb-4">
        <div class="col-12 text-center">
            <h2>Add info about events/plants</h2>
        </div>
    </div>
</div>

</div>


{% endblock %}