<div class="toast custom-toast top-0 end-0 border border-success" role="alert" aria-live="assertive" aria-atomic="true"
    data-bs-delay="6000" data-bs-autohide="true">
    <div class="toast-header">
        <strong class="me-auto">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <strong>{{ message }}</strong>
        <!-- Code adapted from CI Boutique Ado project -->
        {% if grand_total and not on_profile_page %}
        <p class="logo-font bg-white text-black py-1 mb-1">Your Bag ({{ total_items }})</p>
        <p> Please note that variations of items will be displayed individually.</p>
        <div class="bag-notification-wrapper">
            {% for item in bag_items %}
            {% if item.product %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.product.image %}
                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.product.friendly_name }}</strong></p>
                    {% if item.variant.sizes %}
                    <p class="my-0 small">Size: {{ item.variant.size }} </p>
                    {% endif %}
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
            </div>
            {% endif %}
            {% if item.event %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.event.image %}
                    <img class="w-100" src="{{ item.event.image.url }}" alt="{{ item.event.name }}">
                    {% else %}
                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.event.name }}">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.event.friendly_name }}</strong></p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <strong>
                    <p class="mt-3 mb-1 text-black">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">${{ total|floatformat:2 }}</span>
                    </p>
                </strong>
                {% if free_delivery_delta > 0 %}
                <p class="mb-0 p-2 bg-lpink shadow-sm text-black text-center">
                    If you're opting for delivery you need <strong>${{ free_delivery_delta }}</strong> more!
                </p>
                {% endif %}
                <div>
                    <div class="col text-center">
                        <div class="row">
                            <a href="{% url 'checkout' %}" class="btn btn-block">
                                <span class="text-uppercase text-green">Go To Secure Checkout</span>
                                <span>
                                    <i class="fas fa-lock text-green"></i>
                                </span>
                            </a>
                        </div>
                        <div class="row">
                            <a href="{% url 'view_bag' %}" class="btn btn-block ">
                                <span class="text-uppercase text-pink">View Basket</span>
                                <span><i class="fas fa-shopping-bag icon-pink"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>